@model Peli.MVC.ViewModels.VMPelicula;
@{
    Layout = "_Layout3";
}
<!DOCTYPE html>
<head>
    <title>Pelicula - Peliculas</title>
</head>
<div class="isolate">
<div class="second obj">

<body>
    <form asp-action="FormAlta" method="post">
        <div asp-validation-summary="All"></div>
        <div class="field is-horizontal ">
            <label class = "la" asp-for="@Model.Pelicula.Titulo">PELICULA</label>
            <input class="input is-link" asp-for="@Model.Pelicula.Titulo" />
        </div>
         <div class="field is-horizontal ">
            <label class = "la" asp-for="@Model.Pelicula.Duracion">DURACION</label>
            <input class="input is-link" asp-for="@Model.Pelicula.Duracion" />
        </div>
         <div class="field is-horizontal ">
            <label class = "la" asp-for="@Model.Pelicula.FechaEstreno">FECHAESTRENO</label>
            <input class="input is-link" asp-for="@Model.Pelicula.FechaEstreno" />
        </div>
     <div class="field is-horizontal ">
            <label class = "la" asp-for="@Model.Pelicula.Descripcion">DESCRIPCION</label>
            <input class="input is-link" asp-for="@Model.Pelicula.Descripcion" />
        </div>
        <div>
            
        <select asp-for="IdGeneroSeleccionado">
                <option value="">Elegi Genero</option>
                @foreach (Peli.Core.Genero genero in Model.Generos)
                {
                    <option value="@genero.Id">@genero.Nombre</option>                 
                }
            </select>
            </div>
             <div>
            
        <select asp-for="IdProductoraSeleccionada">
                <option value="">Elegi Productora</option>
                @foreach (Peli.Core.Productora productora in Model.Productoras)
                {
                    <option value="@productora.Id">@productora.Nombre</option>                 
                }
            </select>
            </div>
        <button type="submit">Alta Pelicula</button>
    </form>
</body>
</div>
</div>
</html>