@model Peli.MVC.ViewModels.VMPelicula;
@{
    Layout = null;
}
<!DOCTYPE html>
<head>
    <title>Pelicula - Peliculas</title>
</head>
<body>
    <form asp-action="FormAlta" method="post">
        <div asp-validation-summary="All"></div>
        <div>
            <label asp-for="@Model.Pelicula.Titulo">PELICULA</label>
            <input asp-for="@Model.Pelicula.Titulo" />
        </div>
         <div>
            <label asp-for="@Model.Pelicula.Duracion">Duracion</label>
            <input asp-for="@Model.Pelicula.Duracion" />
        </div>
         <div>
            <label asp-for="@Model.Pelicula.FechaEstreno">FechaEstreno</label>
            <input asp-for="@Model.Pelicula.FechaEstreno" />
        </div>
     <div>
            <label asp-for="@Model.Pelicula.Descripcion">DESCRIPCION</label>
            <input asp-for="@Model.Pelicula.Descripcion" />
        </div>
        <div>
            
        <select asp-for="IdGeneroSeleccionado">
                <option value="">Elegi Genero</option>
                @foreach (Peli.Core.Genero genero in Model.Generos)
                {
                    <option value="@genero.Id">@genero.Nombre</option>                 
                }
            </select>
            </div>
        <button type="submit">Alta Pelicula</button>
    </form>
</body>
</html>