@model IEnumerable<Peli.Core.Pelicula>
@{
  Layout = null;
}
<html>

<head>
  <style>
    #customers {
      font-family: Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    #customers td,
    #customers th {
      border: 1px solid #ddd;
      padding: 8px;
    }

    #customers th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: black;
      color: white;
    }

    div.a {
      text-align: center;
    }
  </style>
  <title> Peliculas</title>
  </div>
</head>

<body>
  <div class="a">
    <h1>PELICULAS</h1>
  </div>
  <table id="customers">
    <thead>
      <tr>
        <th>Titulo</th>
        <th>Duracion</th>
        <th>FechaEstreno</th>
        <th>Descripcion</th>
      </tr>
    </thead>
    <tbody>
      @foreach (Peli.Core.Pelicula pelicula in Model)
      {
        <tr>

          <td><a asp-controller="Pelicula" asp-action="Detalle" asp-route-id="@pelicula.Id">@pelicula.Titulo</a> </td>
          <td><a asp-controller="Pelicula" asp-action="Detalle" asp-route-id="@pelicula.Id">@pelicula.Duracion</a> </td>
          <td><a asp-controller="Pelicula" asp-action="Detalle" asp-route-id="@pelicula.Id">@pelicula.FechaEstreno</a> </td>
          <td><a asp-controller="Pelicula" asp-action="Detalle" asp-route-id="@pelicula.Id">@pelicula.Descripcion</a>
          </td>
        </tr>
      }
    </tbody>
  </table>
  <br>
  <button>
<a asp-controller="" asp-action="Index">Inicio</a>
</button>
</body>

</html>
